.DS_Store
.env

# Python cache files
.pytest_cache/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
.venv/
venv/
ENV/
env/

# Cursor rules
.cursor/

src/data/

src/database/nuke_and_restart.sh